/* @import url(./dropdown.css); */
@import url(./imageCarousel.css);
@import url(./dropdown.css);
@import url(./form.css);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}